.page {
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;

  background-color: whitesmoke;
}

.container {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 42px;
}

.quotes {
  padding: 127px 136px;

  border: 1px solid black;
  border-radius: 8px;

  background-color: #fff;
}
.button {
  border-radius: 2px;
}

.button:hover {
  background-color: black;
  color: #fff;
}
.button_type_draw {
  width: 98px;
  height: 32px;
  background-color: #fff;
  border: 1px solid black;
}
